html {
    background-color: white;
}

.template {
    display: none;
}

.btn {
    color: white;
    background-color: #009578;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-family: 'Roboto', sans-serif;
}

.btn:hover {
    background-color: #00b28f;
}